@{
    ViewBag.Title = "Home Page";
}

@section Title {
    <h1>What's in the Box?</h1>
}

<h2>Performance tuned MVC release</h2>
<p>
    A common trait shared amongst popular sites is speed. 
    Where sub-second times can be the difference of whether a user comes 
</p>

<h3>Use ServiceStack's components instead</h3>
<p>
    <ul>
        <li>Json Serializer</li>
        <li>Cache Providers</li>
        <li>Micro ORM</li>
    </ul>
</p>
