<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bundler" version="1.1.5" targetFramework="net40" />
  <package id="DotNetOpenAuth.Ultimate" version="4.2.1.13026" targetFramework="net40" />
  <package id="ServiceStack" version="3.9.35" targetFramework="net40" />
  <package id="ServiceStack.Authentication.OpenId" version="3.9.35" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.35" targetFramework="net40" />
  <package id="ServiceStack.Mvc" version="3.9.35" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.35" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="3.9.35" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.35" targetFramework="net40" />
</packages>