<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.19.4141.18463" />
  <package id="Bundler" version="0.99" />
  <package id="Cassette" version="0.8.3" />
  <package id="Cassette.Web" version="0.8.3" />
  <package id="ServiceStack" version="3.0.0" />
  <package id="WebActivator" version="1.4.4" />
</packages>