<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
    <configSections>
        <section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                 requirePermission="false" />
    </configSections>
    <connectionStrings>
        <add name="DefaultConnection" providerName="System.Data.SqlClient"
             connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-SocialBootstrapApi-20141101084509;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-SocialBootstrapApi-20141101084509.mdf" />
    </connectionStrings>
    <appSettings>
        <add key="webpages:Version" value="2.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <!--<add key="servicestack:license" value="{Add License Key Here}"/>-->
        <add key="ConnectionString"
             value="Server=localhost;Port=5432;User Id=test;Password=test;Database=bootstrapapi;Pooling=true;MinPoolSize=0;MaxPoolSize=200" />
        <add key="oauth.RedirectUrl" value="http://localhost:1337/friends" />
        <add key="oauth.CallbackUrl" value="http://localhost:1337/api/auth/{0}" />
        <add key="oauth.twitter.ConsumerKey" value="yqeybHSZLzNZjXXtA44XZQ" />
        <add key="oauth.twitter.ConsumerSecret" value="dPHZv3V28OtbK93FM54upAtzoEymLQMbtBqufPuL4" />
        <add key="oauth.facebook.AppId" value="306256172736603" />
        <add key="oauth.facebook.AppSecret" value="e52ff045b129123f86ee9ef2b9f56e1a" />
        <add key="RecreateAuthTables" value="True" />
        <add key="AdminUserNames" value="demis.bellot@gmail.com" />
    </appSettings>
    <location path="api">
        <system.web>
            <customErrors mode="Off" />
            <httpHandlers>
                <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
            </httpHandlers>
        </system.web>
        <!-- Required for IIS 7.0 -->
        <system.webServer>
            <modules runAllManagedModulesForAllRequests="true" />
            <validation validateIntegratedModeConfiguration="false" />
            <handlers>
                <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"
                     preCondition="integratedMode"
                     resourceType="Unspecified" allowPathInfo="true" />
            </handlers>
        </system.webServer>
    </location>
    <system.web>
        <customErrors mode="Off" />
        <httpRuntime targetFramework="4.7.2" />
        <compilation debug="true" targetFramework="4.7.2" />
        <pages>
            <namespaces>
                <add namespace="System.Web.Mvc" />
                <add namespace="ServiceStack" />
                <add namespace="ServiceStack.Mvc" />
            </namespaces>
        </pages>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>

    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="v11.0" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient"
                      type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" culture="neutral" publicKeyToken="eb42632606e9261f" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" culture="neutral" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ValueTuple" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" culture="neutral"
                                  publicKeyToken="cc7b13ffcd2ddd51" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a"
                                  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.4.1" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>